@page "/{userName}/UserInformation"
@model Chirp.Web.Pages.UserInformationModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<h1>Stored information about you.</h1>
<div>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <p>Username: @Model.Username</p>
            <p>Email: @(string.IsNullOrEmpty(Model.Email) ? "None" : Model.Email)</p>
            <form method="post" asp-area="Identity">
                <button type="submit" class="btn btn-danger">Forget Me</button>
            </form>

            <h2>Your cheeps</h2>
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                        <p>@cheep.Message</p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Not authenticated</p>

        }
    }
</div>
